<h3 class="border-bottom text-info">
  Héroe:
  <small>
    {{ heroe.nombre }}
  </small>
</h3>

<div class="row mb-2">
  <div class=" col-md-12 text-right">
    <button [routerLink]="['/heroes']" class="btn btn-outline-info mr-1">
      Regresar
    </button>

    <button (click)="agregarNuevo(forma)" type="button" class="btn btn-outline-info">
      Nuevo héroe
    </button>
  </div>
</div>

<div class="row animated fadein fast">
  <div class="col-md-12">
    <form class="bg-dark text-white p-5" (ngSubmit)="guardar()" #forma="ngForm">
      <div class="form-group">
        <label for="nombre">
          Nombre
        </label>

        <input [(ngModel)]="heroe.nombre" class="form-control" type="text" name="nombre" placeholder="Nombre héroe" required>
      </div>

      <div class="form-group">
        <label for="casa">
          Casa
        </label>

        <select [(ngModel)]="heroe.casa" class="form-control" name="casa">
          <option value="Marvel">
            Marvel
          </option>

          <option value="DC">
            DC
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="nombre">
          Biografía
        </label>

        <textarea [(ngModel)]="heroe.bio" class="form-control" name="bio"></textarea>
      </div>

      <div class="form-group">
        <button [disabled]="!forma.valid" type="submit" class="btn btn-info">
          Guardar cambios
        </button>
      </div>
    </form>
  </div>

  {{ forma.valid }}
</div>