<h1 class="border-bottom text-info">
  Heroes
</h1>

<div class="row mb-2">
  <div class=" col-md-12 text-right">
      <button [routerLink]="['/heroe', 'nuevo']" class="btn btn-outline-dark" type="button" name="button">
        Nuevo héroe
      </button>
  </div>
</div>

<div class="row animated fadein fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table text-center">
        <thead class="bg-info text-white">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Casa</th>
            <!-- <th scope="col" class="w-50">Biografía</th> -->
            <th scope="col">Opciones</th>
          </tr>
        </thead>

        <tbody class="bg-dark text-white">
          <tr *ngFor="let key of heroes | keys; let i = index">
            <td class="align-middle" scope="row">
              {{ i + 1 }}
            </td>

            <td class="align-middle">
              {{ heroes[key].nombre }}
            </td>

            <td class="align-middle">
              {{ heroes[key].casa }}
            </td>

            <!-- <td class="align-middle">
              {{ heroes[key].bio }}
            </td> -->

            <td class="align-middle">
              <button [routerLink]="['/heroe', key]" type="button" class="btn btn-info mr-1">
                Editar
              </button>

              <button (click)="eliminar(key)" type="button" class="btn btn-info">
                Eliminar
              </button>              
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="(heroes | keys).length == 0 && !loading" class="alert bg-dark text-white" role="alert">
        <span class="font-weight-bold">
          No hay
        </span>
        registros que mostrar
      </div>

      <div *ngIf="loading" class="alert bg-dark text-white" role="alert">
        <span class="font-weight-bold">
          Cargando
        </span>
        por favor espere
      </div>


    </div>
  </div>
</div>
